{% extends 'base.html.twig' %}

{% block title %}Issue index{% endblock %}

{% block body %}
    <h1>Issue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TaintId</th>
                <th>ExtractedCodePath</th>
                <th>Type</th>
                <th>PsalmResult</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td>{{ issue.id }}</td>
                <td>{{ issue.taintId }}</td>
                <td>{{ issue.extractedCodePath }}</td>
                <td>{{ issue.type }}</td>
                <td>{{ issue.psalmResult }}</td>
                <td>{{ issue.description }}</td>
                <td>
                    <a href="{{ path('app_issue_show', {'id': issue.id}) }}">show</a>
                    <a href="{{ path('app_issue_edit', {'id': issue.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_issue_new') }}">Create new</a>
{% endblock %}
