{% extends 'base.html.twig' %}

{% block header %}
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 flex justify-between align-middle">
        <h1 class="text-xl align-middle font-semibold leading-6 text-gray-900">Samples overview</h1>
        <form method="get" action="{{ path('app_issue_index_filtered') }}">
            <div class="flex space-x-2">
                <select name="analyzer" class="text-sm block w-1/2 bg-white border border-gray-300 text-gray-700 py-1 px-1.5 rounded leading-tight focus:outline-none focus:border-blue-500">
                    <option value="" disabled selected>Select Analyzer</option>
                    {% for analyzerOption in analyzers %}
                        <option value="{{ analyzerOption.analyzer }}" {% if analyzerOption.analyzer == analyzer %}selected{% endif %}>{{ analyzerOption.analyzer }}</option>
                    {% endfor %}
                </select>
                <select name="type" class="text-sm block w-1/2 bg-white border border-gray-300 text-gray-700 py-1 px-1.5 rounded leading-tight focus:outline-none focus:border-blue-500">
                    <option value="" disabled selected>Select Type</option>
                    <option value="tp" {% if type == 'tp' %}selected{% endif %}>True Positive</option>
                    <option value="fp" {% if type == 'fp' %}selected{% endif %}>False Positive</option>
                    <option value="tn" {% if type == 'tn' %}selected{% endif %}>True Negative</option>
                    <option value="fn" {% if type == 'fn' %}selected{% endif %}>False Negative</option>
                </select>
                <button type="submit" class="block w-32 rounded-md bg-gray-500 px-1.5 py-1 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Filter</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block body %}
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <p class="mt-6 text-sm text-gray-700">List of all samples</p>
        </div>
    </div>
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle">
                <table class="min-w-full border-separate border-spacing-0">
                    <thead>
                    <tr>
                        <th scope="col"
                            class="sticky w-2/12 top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">
                            Sample
                        </th>
                        <th scope="col"
                            class="sticky w-2/12 top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">
                           CWE
                        </th>
                        <th scope="col"
                            class="sticky w-2/12 top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">
                            Category
                        </th>
                        <th scope="col"
                            class="sticky w-2/12 top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">
                            Confirmed-State
                        </th>
                        <th scope="col"
                            class="sticky w-8/12 top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for issue in issues %}
                        <tr>
                            <td class="whitespace-nowrap border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">{{ issue.name }}</td>
                            <td class="whitespace-nowrap border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">{{ issue.cweid }}</td>
                            <td class="whitespace-nowrap border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">{{ issue.codeContextCategory }}</td>
                            <td class="whitespace-nowrap border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">{{ issue.confirmedState }}</td>
                            <td class="flex justify-end relative whitespace-nowrap border-b border-gray-200 py-4 pr-4 pl-3 text-right text-sm font-medium sm:pr-8 lg:pr-8">
                                <a href="{{ path('app_issue_show', {'id': issue.id}) }}"
                                   class="block w-32 rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                    Details
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">No records found.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
