{% extends 'base.html.twig' %}

{% block title %}Code{% endblock %}

{% block header %}
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-xl font-semibold leading-6 text-gray-900">Code details</h1>
    </div>
{% endblock %}

{% block body %}

    <div>
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <p class="mt-2 text-sm text-gray-700">Details and issues about the selected code</p>
            </div>
        </div>
        <div class="mt-6 border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Name</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ code.name }}</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Directory</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ code.directory }}</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Attachments</dt>
                    <dd class="text-sm text-gray-900 sm:col-span-2 flex items-center justify-between pl-0 pr-5  leading-6">
                        <a href class="flex w-0 flex-1 items-center">
                            <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                 aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                                      clip-rule="evenodd"/>
                            </svg>
                            <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                <span class="truncate font-medium">plugin.zip</span>
                                <span class="flex-shrink-0 text-gray-400">2.4mb</span>
                                <span class="font-medium text-indigo-600 hover:text-indigo-500 pl-8">Download</span>
                            </div>
                        </a>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="mx-auto py-16">
        <div class="px-4 sm:px-0">
            <h3 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Issues</h3>
          </div>
        <dl class="mt-4 space-y-6 divide-y divide-gray-900/10">
            {% for issue in code.issues %}
                <div class="pt-6" x-data="{open: false}">
                    <dt>
                        <div class="flex w-full justify-between text-left text-gray-900">
                            <span class="text-base font-semibold leading-7">{{ issue.description }}
                                <span class="text-xs">({{ issue.type }}, {{ issue.taintId }}, {{ issue.file }})</span>
                            </span>
                            <span class="flex">
                                <span class="ml-6 flex h-7 items-center">
                                    <a href="{{ path('app_issue_show', {'id': issue.id}) }}">show</a>
                                </span>
                                <span class="ml-6 flex h-7 items-center" @click="open = !open">
                                    <svg class="h-6 w-6" x-bind:class="{ 'hidden': open }" x-init="open = false"
                                         fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                         aria-hidden="true">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
                                    </svg>
                                    <svg class="h-6 w-6" x-bind:class="{ 'hidden': !open }" x-init="open = false"
                                         fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                         aria-hidden="true">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
                                    </svg>
                                </span>
                            </span>
                        </div>
                    </dt>
                    <dd class="mt-2" x-bind:class="{ 'hidden': !open }" x-init="open = false" id="faq-0">
                        {# TODO: Add ide links #}
                        {# <a href="phpstorm://open?url=file:///home/david/dev/symfony/templates/list.html.twig&line=50">Link</a> #}
                        {# <a href="vscode://open?url=file:///home/david/dev/symfony/templates/list.html.twig&line=50">link</a> #}
                        <p class="text-base leading-7 text-gray-600">
                            <pre><code class="text-xs py-16 language-php">{{ issue.psalmResult }}</code></pre>
                        </p>
                    </dd>
                </div>
            {% endfor %}
        </dl>
    </div>

{% endblock %}
