{% extends 'base.html.twig' %}

{% block title %}Overview{% endblock %}

{% block body %}

    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto flex flex-wrap justify-between gap-16">
            {% for tool, metrics in results %}
                <div class="w-3/12">
                    <h2 class="text-lg font-bold mb-2">{{ tool }} ({{ metrics.sum }})</h2>
                    <ul>
                        <li>True Positives: {{ metrics.truePositives }}</li>
                        <li>True Negatives: {{ metrics.trueNegatives }}</li>
                        <li>False Positives: {{ metrics.falsePositives }}</li>
                        <li>False Negatives: {{ metrics.falseNegatives }}</li>
                        <li>Accuracy: {{ metrics.accuracy }}</li>
                        <li>Sensitivity/Recall: {{ metrics.recall }}</li>
                        <li>Precision: {{ metrics.precision }}</li>
                        <li>Specificity: {{ metrics.specificity }}</li>
                        <li>Recall: {{ metrics.recall }}</li>
                        <li>F1: {{ metrics.f1 }}</li>
                        <li>G-Score: {{ metrics.gscore }}</li>
                        <li>FAR: {{ metrics.far }}</li>
                        <li>Time: {{ metrics.time }}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}